<!DOCTYPE html>
<html>
<head>
    <title>VIBRANCE | Multi-Zone Monitor</title>
</head>
<body>


    <table>
        <tr>
            <td><iframe src="app.html?host={{ host }}&zone=0">
            </iframe></td>
            <td><iframe src="app.html?host={{ host }}&zone=1">
            </iframe></td>
            <td><iframe src="app.html?host={{ host }}&zone=2">
            </iframe></td>
        </tr>
        <tr>
            <td><iframe src="app.html?host={{ host }}&zone=3">
            </iframe></td>
            <td><iframe src="app.html?host={{ host }}&zone=4">
            </iframe></td>
            <td><iframe src="app.html?host={{ host }}&zone=5">
            </iframe></td>
        </tr>
    </table>

</body>
</html>
