<!DOCTYPE html>
<html lang="en">
<head>
  <title>Vibrance Control Panel</title>
  <link rel="stylesheet" type="text/css" href="/static/index.css">
  <script src="/static/index.js"></script>
</head>
<body>
  <div class="grid">
    <div class="label">Driver</div>
    <div class="label">Script</div>
    <div class="label">Relay</div>

    <div class="menu">
      <label for="driver_type">Type: </label>
      <select name="driver_type" id="driver_type">
        {% for name in manager.drivers.keys() %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
      </select>
      <br><br>
      <button type="button" id="driverButton">Select</button>
    </div>

    <div class="menu">
      <label for="script">Script: </label>
      <select name="script" id="script">
        {% for name in manager.scripts.keys() %}
        <option value="{{ name }}">{{ name }}</option>
        {% endfor %}
      </select>
      <br><br>
      <button type="button" id="scriptButton">Select</button>
    </div>
    <div class="menu">
      <label for="relayHost">Relay IP: </label>
      <input type="text" id="relayHost">
      <br><br>
      <label for="relayPsk">Password: </label>
      <input type="password" id="relayPsk">
      <br><br>
      <button type="button" id="relayButton">Connect</button>
    </div>

    <div class="success">Connected</div>
    <div class="failure">Running</div>
    <div class="inactive" id="relayStatus">Reconnecting (Connection Refused)</div>
  </div>
</body>
</html>
